*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.botMarg {
    margin-bottom: 1.5em;
}

.Order__Summary {
    // Positioning of Div
    margin: auto;
    margin-top: 20em;
    width: 25em;
    // border: 3px solid;

    //Text
    text-align: center;

    // box-shadow: 20px 20px;
}

.btn {
    display: block;

    text-decoration: none;
    color: white;
    background-color: #382ae1;

    padding: 1em;
    border-radius: 1em;

    box-shadow: 100px 100px;
}

.altButton {
    text-decoration: none;
    color: #9da3b1;
    font-weight: 700;
}

.container {
    margin: 0 2em;
}

.Banner {
    margin-bottom: 3em;
}

.Blurb {
    margin: 1em 0;
    padding: 0 1em;
    line-height: 1.7em;
}

.Plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 1.5em;

    background: #f8f9fe;
    border-radius: 0.8em;

}

.musicIcon {
    width: 2.5em;
    margin-right: 1em;
}

.Info {
    margin-right: 4em;
    line-height: 1.5em;
}

.bold {
    font-weight: 700;
}

.accent {
    color: #382ae1;
}

.thin {
    color: #9da3b1
}