*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.botMarg {
    margin-bottom: 1.5em;
}

.Order__Summary {
    // Positioning of Div
    position: relative;
    margin: auto;
    margin-top: 8em;
    width: 25em;
    box-shadow: 0 0 10em #dde0e6;

    //Text
    text-align: center;
    border-radius: 1em;
}

.Banner {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.btn {
    display: block;

    text-decoration: none;
    color: white;
    background-color: #382ae1;

    padding: 1em;
    border-radius: 1em;

    transition: ease-in-out 250ms;

    box-shadow: 0 1em 1em #e4e2f8;
}

.btn:hover,
.bth:focus {
    transform: scale(1.1);
    background-color: #dcd8ff;
    color: #776de0;
}

.altButton {
    display: block;
    text-decoration: none;
    color: #9da3b1;
    font-weight: 700;

    padding-bottom: 1.5em;
    transition: ease-in-out 250ms;
}

.altButton:hover,
.altButton:focus {
    text-decoration: underline;
}

.container {
    margin: 0 2em;
}

.Banner {
    margin-bottom: 2em;
}

.Blurb {
    margin: 1em 0;
    padding: 0 1em;
    line-height: 1.7em;
}

.Plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 1.5em;

    background: #f8f9fe;
    border-radius: 0.8em;
}

.musicIcon {
    width: 2.5em;
    margin-right: 1em;
}

.Info {
    margin-right: 4em;
    line-height: 1.5em;
}

.bold {
    font-weight: 700;
}

.accent {
    color: #382ae1;
}

.thin {
    color: #9da3b1
}