*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.hidden {
    display: none !important;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF2F8;
}

.container {
    display: flex;
    align-items: center;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.10);
    background-color: white;
    color: #49556B;
}

.featured-img {
    overflow: hidden;
    width: 75rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.featured-img>img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.article-text {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100rem;
}

.profile-info>img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .8rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .profile-info .profile-text h3 {
    margin-bottom: .3rem;
}

.share {
    position: relative;
}

.share-btn {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    background-color: #EDF2F8;
}

.clicked {
    background-color: #49556B;
}

.clicked img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(0%) hue-rotate(316deg) brightness(102%) contrast(102%);
}

.share .share-tooltip {
    /* visibility: hidden; */
    display: flex;
    gap: 1rem;
    /* align-items: center; */
    justify-content: center;
    background-color: #4C586E;
    text-align: center;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    color: white;

    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 150%;
    margin-left: -5.5rem;
}

.share-tooltip::after {
    content: "";
    position: absolute;
    border-width: .7rem;
    border-style: solid;
    border-color: #4C586E transparent transparent transparent;
    top: 100%;
}

.share-tooltip img {
    height: 1rem;
    width: 1rem;
}

.share-tooltip h2 {
    font-size: .8rem;
    letter-spacing: .3rem;
    font-weight: 500;
    color: #90a0be;
}

.share-tooltip .share-btn {
    display: none;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
        width: 20rem;
        gap: 0rem;
    }

    .featured-img {
        width: 20rem;
        aspect-ratio: 10 / 7;
        object-fit: fill;
        object-position: bottom;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }

    .article-text {
        width: 18rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .article-text h2 {
        font-size: 1.4rem;
    }

    .article-text p {
        font-size: 1rem;
    }

    .profile .profile-info img {
        height: 3rem;
        width: 3rem;
    }

    .profile .profile-text h3 {
        font-size: .9rem;
    }

    .profile .profile-text p {
        font-size: .8rem;
    }

    .share .share-tooltip {
        width: 20rem;
        height: 5.5rem;
        margin-left: -16rem;
        margin-bottom: -5.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        align-items: center;
        justify-content: center;
    }

    .share .share-tooltip h2 {
        font-size: .9rem;
    }

    .share .share-tooltip a {
        height: 2rem;
        width: 2rem;
    }

    .share .share-tooltip::after {
        display: none;
    }

    .share-tooltip .share-btn {
        display: unset;
        /* margin-left: 3rem; */
    }
}