:root {
    --clrGrey: #EDEDED;
    --clrWhite: #FFFFFF;
    --clrYellow: #FAB54C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

header {
    padding: 1rem 15rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 1rem;
}

.logo {
    min-width: 3rem;
    max-width: 4rem;
    // margin: 0 5rem;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 .7rem;
    display: block;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li a:hover {
    color: var(--clrYellow);
}

.cta {
    background-color: var(--clrYellow);
    font-size: 1em;
    text-transform: capitalize;
    padding: 1em 2em;
    border-radius: .3em;
    font-weight: 500;
    margin-left: 2rem;
}