:root {
    --clrGrey: #EDEDED;
    --clrWhite: #FFFFFF;
    --clrYellow: #FAB54C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background: var(--clrWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 15%;
}

.brand {
    min-width: 4em;
    max-width: 4em;
    cursor: pointer;
}

.menu {
    list-style: none;
    // Look into using clamp()
    margin-left: 30em;
    // justify-content: center;
}

.menu li {
    display: inline-block;
    padding: 0 .5em;
}

.menu li a {
    font-size: .9em;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.menu li a img {
    width: 1em;
}

.menu li a:hover {
    color: var(--clrYellow)
}

.cta {
    background-color: var(--clrYellow);
    font-size: 1em;
    text-transform: capitalize;
    padding: 1em 2em;
    border-radius: .3em;
    font-weight: 500;
}