:root {
  --clrGrey: #EDEDED;
  --clrWhite: #FFFFFF;
  --clrYellow: #FAB54C;
  --clrDarkGrey: #3E3E3E;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  padding: 1rem 0;
}

.container {
  max-width: 85em;
  min-width: none;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-grey {
  background-color: var(--clrGrey);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  min-width: 1rem;
  max-width: 1rem;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.brand h1 {
  color: black;
  font-weight: 600;
}

.logo {
  min-width: 3rem;
  max-width: 3rem;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  margin: 0 .7rem;
  display: block;
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  color: black;
}

.menu li a:hover {
  color: var(--clrYellow);
}

.cta {
  color: black;
  background-color: var(--clrYellow);
  font-size: 1em;
  text-transform: capitalize;
  padding: 1em 2em;
  border-radius: .3em;
  font-weight: 500;
  margin-left: 3em;
}

.btn {
  color: black;
  background-color: var(--clrYellow);
  font-size: 1em;
  text-transform: capitalize;
  padding: 1em 2em;
  border-radius: .3em;
  font-weight: 500;
}

.btn-alt {
  text-decoration: none;
  color: white;
  background-color: var(--clrDarkGrey);
  font-size: 1em;
  text-transform: capitalize;
  padding: 1em 2em;
  border-radius: .3em;
  font-weight: 500;
}

.hero {
  padding: 9em;
  text-align: center;
  background-image: url(../images/landing-bg.jpg), radial-gradient(#dfdfdf, #dfdfdf);
  background-blend-mode: overlay;
  background-position: center center;
  background-size: cover;
}

.hero h1 {
  font-size: 4.3rem;
  margin-bottom: 2rem;
  line-height: 6rem;
}

.hero p {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 4rem;
}

.benefits .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  margin: 5rem auto;
}

.benefits .container div h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.benefits .container div img {
  max-width: 3rem;
  min-width: 3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.features .container {
  padding: 5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.features .container .left img {
  max-width: 30vw;
  min-width: 10vw;
}

.features .container .right h1 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  line-height: 1em;
}

.features .container .right p {
  margin-bottom: 1.8rem;
}

.features .container .right a {
  display: inline-block;
}

.featured {
  margin: 5rem 0;
}

.featured h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.featured .featured-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.featured .featured-images a {
  text-decoration: none;
  color: white;
}

.featured .featured-images p {
  line-height: 4.5rem;
}

.featured .featured-images img {
  display: block;
  max-width: 32vw;
  min-width: 10vw;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.featured .featured-images .img-wrapper {
  position: relative;
  overflow: hidden;
}

.featured .featured-images .content {
  opacity: 0;
  position: absolute;
  inset: 0;
  font-size: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.featured .featured-images .content:hover,
.featured .featured-images .content:focus {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */